
.Heading {
    background-color: #1b010d;
    color: rgba(231, 236, 155, 0.945);
    width: 100%;
    text-align: centre;
    padding: 20px ;
}

.navbar {
    padding: 20px ;
}

.Introduction {
    color: silver;
    text-align: left;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    font-weight: bold;
    background-color:#284531;
}

* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.quote {
    color: rgba(15, 0, 7, 0.945);
    text-align:center;
    font-weight: bolder;
    background: #f9f9f9 url(old-paper-texture-vector.jpg) ;
    border: 10px solid rgba(15, 0, 7, 0.945); 
    border-radius: 4px;
    }

h1 {
    font-weight:bolder;
}

.HomeButton{
    width: 100%;
}

.HelloFriends{
    color: silver;
    text-align: left;
    padding: 20px;
    font-weight: bold;
    background-color:#284531;
    display: inline-block;
    width: 100%;
}

table {
    table-layout: fixed ;
    width: 100% ;
    border-collapse: collapse ;
    border: 10px #284531 solid ;
    background: #f9f9f9 url(old-paper-texture-vector.jpg) 
    }

table td {
    width: 50% ;
    border: 5px #284531 solid ;
    padding: 10px ;
}

table th {
    border: 5px #284531 solid  ;
    padding: 10px ;
}

.subheading{
    color: silver;
    text-align: left;
    padding: 20px;
    font-weight: bold;
    background-color:#284531;
    border: 3px solid rgba(15, 0, 7, 0.945); 
    border-radius: 4px;
    text-align: center;
    margin-bottom: 0px;
    }

.inputForm {
    width:100%;
    padding:20px;
    color: silver;
    text-align: left;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    font-weight: bold;
    background-color:#284531;
}

select {
    width: 100%;
    padding:10px;
    border-radius:10px;
    margin-top:10px;
  }

#button1 {
    background-color: #E7AF36;
    color: rgba(15, 0, 7, 0.945);
    margin-top: 20px;
    margin-bottom: 20px;
}

.top-buffer { margin-top:20px; }
